.mapouter {
    position: relative;
    text-align: right;
    height: 240px;
    width: 340px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 240px;
    width: 340px;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
}

.upper-footer a:link {
    text-decoration: none;
}

.upper-footer a:visited {
    text-decoration: none;
}

.upper-footer a:hover {
    text-decoration: none;
}

.upper-footer a:active {
    text-decoration: none;
}

body {
    margin: auto;

}

nav {
    z-index: 1;
    display: flex;
    height: 50px;
    background-color: rgb(51, 51, 51);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    display: flex;
    height: inherit;
    align-items: center;
}


.logo img {
    height: inherit;
}

.logo p {

    color: rgba(255, 0, 0, 0.692);
    font-size: 25px;
}

.header-ul {
    height: inherit;
    overflow: hidden;
    list-style-type: none;
    margin-right: 50px;
    background-color: #333;
    display: flex;
    width: 560px;
    justify-content: space-between;
}
.active {
    
    background: #f4511e;
}

li {
height: inherit;
}
li a {
    height: inherit;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #111;
}

.header-ad {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.main-content a img {
    margin-left: 20px;
    width: 407px;

}

main span p {
    margin: 20px;
    font-size: x-large;

}

.first-par {
    margin: 0;
    font-size: xxx-large;
}

.order-now {
    
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 260px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  #order-btn{
    vertical-align:middle
  }
  .order-now span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .order-now span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .order-now:hover span {
    padding-right: 25px;
  }
  
  .order-now:hover span:after {
    opacity: 1;
    right: 0;
  }
  
.menu {
    display: flex;
    justify-content: space-evenly;
}

.menu a {
    width: 20%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu img {
    margin: 0;
    max-width: 100%;
}

.upper-footer {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(51 51 51 / 95%);
}
.right-footer {
    display: flex;
    width: 45%;
    flex-direction: row;
}
.footer-nav {
    display: flex;
    margin-left: -40px;
    justify-content: flex-start;
}
.footer-nav img {
    width: 30%;
}
.vl-footer-1 {
    border-left: 6px dashed #333333;
    margin-right: 30px;
    margin-top: 20px;
    height: 220px;
    display: flex;
    flex-direction: column-reverse;
}
.hr-footer {
    border-top: 6px solid #2222227a;
    width: 300px;
}
.left-footer {
    display: flex;
    width: 55%;

    flex-direction: column;
    justify-content: space-between;
}
.social-media {
    width: 60%;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.social-media a {
    margin: auto;
    max-width: 15%;
    display: flex;
    flex-direction: column;
}
.social-media i {
    position: relative;
    display: flex;
    height: 5px;
    width: 5px;
    /* overflow: hidden; */
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 0px;
    /* padding: 20px 20px 20px 20px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.facebook-background-icon {
    background-color: #3b5999;
    padding: 20px;
    border-radius: 20%;
}
.instagram-background-icon{
    background: linear-gradient(15deg,#ffb13d,#dd277b,#4d5ed4);
    padding: 20px;
    border-radius: 20%;

}
.twitter-background-icon{
    background-color: #00acee;
    padding: 20px;
    border-radius: 20%;
}
.google-plus-background-icon{

    background-color: #DB4437;
    padding: 20px;
    border-radius: 20%;
    
}

.footer-ul {
    list-style-type: none;
    background-color: #33333366;
    display: flex;
    width: 450px;
    justify-content: flex-start;
}
.google-maps {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}
.contact-info {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}
.contact-info a  {
    margin: 0;
    max-width: 35%;
    display: flex;
    flex-direction: column;
}
.address-images {
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.address-title {
    margin: 25px 0 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.address-title p{
    color: #777777;
    text-align: center;
}
.contact-info i {
    font-size: 36px;
    color: #333333;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bottom-footer {
    background-color: rgb(51 51 51);
    display: flex;
    justify-content: center;
    padding: 15px;
}
.bottom-footer i {
    color: #777777;
}
.bottom-footer a {
    margin: 0 5px 0 5px;
    color: #FFFFFF;
}
.heart {
    color: rgb(255, 0, 0);

}
.bottom-footer a:visited {
    color: #777777;
}
.footer-link a:hover{
    color: rgb(228, 5, 5);
}
.left-upper-footer{
    display: flex;
    align-items: center;
}
.footer-logo{

}

.footer-fat-guys-logo {
    margin: 60px auto 0 0;
    padding: 50px;
    background-image: url("/images/output-headerlogo.png");
    filter: opacity(100%);

    background-size: contain;
    display: flex;
}
.footer-git-hub-logo {
    margin: 62px auto 0px 72px;
    padding: 60px;
    background-image: url("/images/gitlogo.png");
    filter: opacity(30%);
    background-size: contain;
    display: flex;
}

/* Contact Page Style Start From Here  */

.contact-body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}

input[type=text], select, textarea {
    border-style: groove;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #f4511e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #000000;
}

.container {
    width: 800px;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 31px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: groove;
}
.contact-subject{
    height:200px
}
.contact-submit {
    display: flex;
    flex-direction: column;
}
.contact-logo {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.contact-logo img {
    width: 20%;
    margin-bottom: 50px;
}
.contact-logo p {
    font-size: x-large;
    margin: 0;
}
.contact-logo h1 {
    font-size: x-large;
    margin-bottom: 50px;
}
.container hr {
    margin-bottom: 50px;
}